$font-color: hsl(238, 29%, 16%);
$hover-color: hsl(14, 88%, 65%);

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  border: none;
  background: inherit;
  cursor: pointer;
  text-decoration: none;
}

div:focus,
button:focus,
a:focus {
  // outline: none;
  outline-style: dotted;
  outline-color: hsl(240, 5%, 91%);
}

// styling
body {
  font-family: "Kumbh Sans", sans-serif;
  color: $font-color;
}

.container {
  background: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;
  max-width: 960px;
  font-size: 14px;
  border-radius: 20px;
  position: relative;
  margin: 2rem;
}

.box {
  position: absolute;
  top: 200px;
  left: -92px;
  animation-name: box-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  z-index: 3;
}
// I normally wouldn't add an animation here because I believe it distracts from the actual text but I wanted to play with animations a little bit

@keyframes box-animation {
  0% {
    top: 200px;
  }
  50% {
    top: 170px;
  }
  100% {
    top: 200px;
  }
}

// "left" section with images

.faq-image {
  overflow: hidden;
  position: relative;

  .woman-online {
    content: url(../images/illustration-woman-online-desktop.svg);
    top: 74px;
    left: -83px;
    position: absolute;
    z-index: 2;
  }

  .pattern {
    content: url(../images/bg-pattern-desktop.svg);
    position: absolute;
    top: -18rem;
    left: -36rem;
  }
}

// "right" section with questions and dropdown menu

.faq {
  padding: 1.5rem;

  h1 {
    margin: 1.5rem 0;
    font-size: 48px;
  }

  li {
    padding: 1rem 0;
    border-bottom: hsl(240, 5%, 91%) 1px solid;
  }

  .faq-button {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: left;
    padding: 0.5rem 0;
  }

  .no-focus:focus {
    outline: none;
  }

  button:hover {
    color: $hover-color;
  }

  .button-icon {
    padding: 0 1rem;
    transition: transform 0.5s;
  }

  .answer {
    padding-top: 1rem;
    color: hsl(240, 6%, 50%);
    height: auto;
    opacity: 1;
    transition: all 0.5s;
    font-size: 12px;
  }

  .hidden {
    overflow: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
  }

  .bold {
    font-weight: 700;
  }

  .inverted {
    transform: rotate(180deg);
  }
}

.attribution-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;

  .attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    text-align: center;
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;

    a {
      color: #6565e7;
    }

    p {
      padding: 0.5rem;
      font-size: 1rem;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    min-height: 100vh;
    height: 100%;
  }

  .card {
    grid-template-columns: 1fr;
    max-width: 330px;
    margin-top: 8rem;
  }

  .box {
    display: none;
  }

  .faq-image {
    min-height: 5rem;
    overflow: visible;

    .woman-online {
      content: url(../images/illustration-woman-online-mobile.svg);
      position: absolute;
      top: -108px;
      left: 50%;
      transform: translate(
        -55%,
        0
      ); //it's not exactly 50% because of a white space the image has on the left
    }

    .pattern {
      content: url(../images/bg-pattern-mobile.svg);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .faq {
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;

    h1 {
      font-size: 36px;
      text-align: center;
      margin-top: 1.5rem;
    }

    li {
      padding: 1rem 0;
    }

    .button-icon {
      padding: 0 0.3rem;
    }
  }
}
